* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.body {
  margin: 10px 50px;
}
p,
li {
  text-align: justify;
}
img {
  width: 100%;
  max-height: 50vh;
}
.container {
  margin: 20px 150px;
  width: 55%;
}
.heading {
  font-weight: 800;
  margin-left: 5px;
  margin-bottom: 50px;
}
.date {
  font-size: small;
  color: rgb(10, 7, 177);
}
.heading2 {
  margin: 20px 0;
}
.heilight {
  background-color: rgba(255, 228, 196, 0.886);
  text-decoration: underline;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  width: 100%;
  background-color: rgb(0, 0, 109);
}
.footer {
  color: rgb(255, 255, 255);
}
.right {
  text-align: center;
}
